.reservebox{
    width: 430px;
    margin-top: 1rem;
}

.reservesmallbox{
    min-height: 195px;
    border: 1px solid #CFCFD2;
    padding: 1rem 1.5rem;
    background-color: #FAFAFA;
}

.top{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
    .reservebox{
        width: 350px;
        margin-top: 1.2rem;
    }
    .reservesmallbox{
        min-height: 230px;
        padding: 0.7rem 1.5rem;
    }
    .top{
        font-size: 18px;
    }
}