.mainbox{
    display: flex;
    justify-content: center;
    margin-bottom: 1.35rem;
}

.positionchange{
    width: 800px;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .positionchange{
        width: 350px;
        margin-top: 1.5rem;
        flex-direction: column;
    }
}