.diagbox{
    width: 430px;
}
.diagsmallbox{
    min-height: 474px;
    border: 1px solid #CFCFD2;
    padding: 1rem 1.5rem;
    background-color: #FCFCFC;
}

.top{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.top2,
.top3{
    text-align: left;
    font-size: 17px;
    margin-bottom: 0.3rem;
    color: #7C7C7C;
    background-color: #FCFCFC;
}
.top3{
    padding-top: 10px;
}

.list{
    font-size: 13px;
    border-top: 1.5px solid #CFCFD2;
    background-color: #FCFCFC;
    display: flex;
}
.list span{
    background-color: #F1F6F1;
    padding-top: 12px;
    width: 150px;
}
.list label{
    background-color: #F1F6F1;
    width: 150px;
    padding-top: 10px;
    height: 25px;
}

.list textarea,
.list input{
    border: 1px solid #CFCFD2;
    width: 210px;
    margin: 3px;
}
.list input:focus,
.list textarea:focus{
    outline: none;
    border-color: #CFCFD2;
}

.controlbutton2{
    font-size: 13px;
    border: 0.1px solid #494949;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
    margin-top: 0.7rem;
    cursor: pointer;
    background: #CEE5CC;
}
.background{
    background-color: #FCFCFC;
    border-top: 1.5px solid #CFCFD2;
}