.login {
  max-width: 25rem;
  margin: 2.2rem auto;
  padding: 3rem 1rem;
}

.control {
  margin: 0.7rem 0rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control input {
  flex: 5;
  font: inherit;
  font-size: smaller;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 1px solid #BCBCBC;
  background-color: #FAFAFA;
}
.control input:focus {
  outline: none;
  border-color: #5EBE79;
}
.control.invalid input {
  border-color: #C64545;
}

.logintop{
  color: #8A8A8A;
  text-align: left;
 }
 .loginbottom{
  color: #8A8A8A;
  text-align: right;
 }

.cancel:hover {
  opacity: 0.7;
}
.signup:hover {
  opacity: 0.7;
}

@media (min-width: 780px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}