.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    background-color: #FAFAFA;
}

.main{
    font-size: 16px;
    color: black;
}

.controlbutton{
    font-size: 13px;
    width: 25px;
    border: 0.1px solid #a9a9a9;
    border-radius: 2px;
    padding: 0.2rem;
    cursor: pointer;
    background: #fdfdfd;
}

.open{
    font-size: 13px;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: black;
}