.codebox {
    background-color: #FAFAFA;
    padding: 2.3rem;
    margin-top: 55px;
    display: flex;
    justify-content: center;
}
.codecenter{
    width: 18rem;
    flex-direction: column;
}

.codetop{
    text-align: left;
    font-size: 22px;
    margin-bottom: 1.9rem;
}
.codemiddle{
    text-align: left;
    font-size: 14.5px;
    color: #787878;
    margin-bottom: 0.8rem;
}

.control {
    width: 17.7rem;
    height: 100px;
    margin-bottom: 1.9rem;
    background: #FFFFFF;
    border: 1px solid #FAFAFA;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    text-align: center;
}
.control:focus {
    outline: none;
    border-color: #FAFAFA;
}

.controlbutton {
    height: 60px;
    font-size: 22px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}