.mainbox{
    display: flex;
    justify-content: center;
}

.positionchange{
    width: 920px;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;;
}