.content{
    padding: 0.25rem;
    margin: 0.15rem;
    font-size: 12px;
    border: 1px solid #CECECE;
}

@media (max-width: 900px) {
    .dropdown{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 5px;
        text-align: center;
    }
}