.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid #CECECE;
}

.mainlogo{
    padding: 3px 4.8rem 3px 5.5rem;
}

.headerlist nav ul,
.mypage{
    display: flex;
    text-align: center;
}
.headerlist nav ul li{
    list-style: none;
    padding: 2px 1.4rem;
}

.headerlist{
    font-size: 14.5px;
    color: #383838;
}

.mypage{
    padding-right: 5.5rem;
    padding-top: 19px;
    font-size: 16px;
    color: #383838;
}

.mypage i {
    font-size: 17px;
    color: #383838;
}