.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid #CECECE;
}

.mainlogo{
    padding: 3px 4.8rem 3px 5.5rem;
}

.headerlist nav ul,
.mypage{
    display: flex;
    text-align: center;
}
.headerlist nav ul li{
    list-style: none;
    padding: 2px 1.37rem;
}

.headerlist{
    font-size: 14.5px;
    color: #383838;
}

.mypage{
    padding-right: 5.4rem;
    padding-top: 19px;
    font-size: 16px;
    color: #383838;
}
.mypage i {
    font-size: 17px;
    color: #383838;
}

@media (max-width: 900px) {
    .header{
        flex-direction: column;
        background-color:rgba(255, 255, 255, 0.75);
    }
    .headerlist nav ul,
    .mypage{
        display: block;
        flex-direction: column;
        text-align: right;
    }
    .headerlist nav ul li{
        padding: 15px 0px 0px 0px;
    }
    .mypage{
        padding: 0px 0px 7px 0px;
    }
  }